<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/nav') %>
    
    <div class="container container-fluid header-container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1>This is the hackathon template!</h1>
            </div>
            <div class="col">
                <button id="process-trees" class="btn btn-success mt-3 mb-3"> Process Trees </button>
            </div>
        </div>
    </div>
    
    <%- include('partials/footer') %>
</body>
<script>
    $(function() {
        $('#process-trees').click(function() {
            $.get('/updateMap', function(coords) {
                console.log(coords);
            });
        });
    });
</script>

</html>