<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body>
    <%- include('partials/nav') %>

        <div class="container container-fluid header-container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1>PeerSeeder</h1>
                </div>
                <div class="col">
                    <button id="process-trees" class="btn btn-success mt-3 mb-3"> Process Trees </button>
                </div>
            </div>
            <div class="rounded" id="map"></div>
        </div>

        <script>
            // update map function
            $(function () {
                $('#process-trees').click(function () {
                    $.get('/updateMap', function (coords) {
                        console.log(coords);
                    });
                });
            });

            // generate map
            mapboxgl.accessToken = 'pk.eyJ1IjoiaXNhbmppdDMiLCJhIjoiY2wxZjdwaGhyMHJndDNjbXU5dGs4MDNhOCJ9.1slomz7Snm2sehKphFK75g';

            // geojson
            const geojson = {
                type: 'FeatureCollection',
                features: [
                    {
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [-84.39496, 33.77802]
                        },
                        properties: {
                            title: 'Mapbox',
                            description: 'Washington, D.C.'
                        }
                    },
                    {
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [-84.4, 33.8]
                        },
                        properties: {
                            title: 'Mapbox',
                            description: 'San Francisco, California'
                        }
                    }
                ]
            };

            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/light-v10',
                zoom: 12,
                center: [-84.39496, 33.77802],
            });

            for (const feature of geojson.features) {
                // create a HTML element for each feature
                const el = document.createElement('div');
                el.className = 'marker';

                // make a marker for each feature and add to the map
                new mapboxgl.Marker(el)
                    .setLngLat(feature.geometry.coordinates)
                    .setPopup(
                        new mapboxgl.Popup({ offset: 25 }) // add popups
                            .setHTML(
                                `<h3>${feature.properties.title}</h3><p>${feature.properties.description}</p>`
                            )
                    )
                    .addTo(map);
            }
        </script>

        <%- include('partials/footer') %>
</body>

</html>