/* Class Styles */
.peer {
    color: whitesmoke;
}
.seeder {
    color: #7CFC00;
}
/* Mapbox Style */
#map {
    min-height: 40em;
    height: auto;
}
.marker {
    background-image: url('../images/map-marker.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup {
    max-width: 200px;
}
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/* Html Styles */
body {
    padding: 1em;
}
.subtitle, h1, h4 {
    color: whitesmoke;
}
u {
    color: lightgreen
}
input, textarea {
    background-color: white !important;
}
table {
    color: whitesmoke !important;
}